# App
APP_PORT=8082

# Cloudinary
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
CLOUDINARY_IS_SECURE=""

# Database
# PostgreSQL
DB_CLIENT=""
DB_NAME=""
DB_USER=""
DB_PASSWORD=""
