# App
APP_PORT=8082

# Cloudinary
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
CLOUDINARY_IS_SECURE=""

# Database
# PostgreSQL
DB_CLIENT=""
DB_NAME=""
DB_USER=""
DB_PASSWORD=""

GOOGLE_CLIENT_ID="52535015285-0i182g0q4ccnv9q3i4dgnh7hiah779u3.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"